.default {
  background-color: gray;
  color: white
}

.text-vieli {
  font-family: Arial, Helvetica, sans-serif;
}

.font-parada-producao {
  font-size: 2rem;
}

.font-parada-date {
  font-size: 2rem;
}

.font-cronometro {
  font-size: 4rem;
}	

.font-title-telao {
  font-size: 1.5rem;
}

.font-time-telao {
  text-align: center;
  font-size: 1.5rem;
}

.font-indicador-producao {
  font-size: 3rem;
}

.font-um-producao {
  font-size: 2rem;
}

.font-ritmo-producao {
  font-size: 2rem;
}

.font-indicadores {
  font-size: 4rem;
}

.font-header-card {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}